{{! Code adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/app.css" />
    <title>Hiker Miles</title>
  </head>
  <body>
    <header>
      <img class="headerImg" src="../img/pexels-robbymccullough-1867601.jpg" />
      Hiker Miles Program
    </header>
    <nav class="pageLinks">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patrons">Patron Directory</a></li>
        <li><a href="/rewards_points">Rewards</a></li>
        <li><a href="/parks">Park Directory</a></li>
        <li><a href="/trails">Trail Directory</a></li>
        <li><a href="/brain_implants">Brain Implant Directory</a></li>
        <li><a href="/patron_parks">Patron Park Visit History</a></li>
        <li><a href="/patron_trails">Patron Trail Visit History</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>