<div class="homePage">
    <h1>Frequent-Hiker-Miles Database Tables</h1>
<div>

<div>
  <ul>
      <li><strong>Brain_Implants</strong>:<br> Tracks details about each hiker's brain implant, including implant ID, installation date, and status.</li><br>
      <li><strong>Parks</strong>:<br> Contains records of all participating public lands, including names, locations, and ranger station status.</li><br>
      <li><strong>Patron_Parks</strong>:<br> Links hikers to the parks they frequent, tracking their visits.</li><br>
      <li><strong>Patron_Trails</strong>:<br> Records the trails hiked by each participant, including distance.</li><br>
      <li><strong>Patrons</strong>:<br> Stores personal information of hikers, including name, address, and brain implant identification.</li><br>
      <li><strong>Rewards_Points</strong>:<br> Tracks the rewards points earned by each hiker based on their miles and rewards redeemed.</li><br>
      <li><strong>Trails</strong>:<br> Maintains data on all trails in the system including distance, trail name, coordinates, and park association.</li><br>
   </ul>
</div>


<div><img src="../img/images.jpeg"></div>