/*
# Citation for CSS:
# Date: 2/6/25
# Based on:
# Source URL: https://www.w3schools.com/css/default.asp */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
}

header {
  /* background-color: black; */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.headerImg {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
}

h2 {
}

h3 {
}

/* HOME PAGE */
.homePage {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.homePage a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.homePage a:hover {
  background-color: #1b4332;
  color: #fff;
}

/* NAVIGATION */
nav {
  margin: 8px 0;
  display: block;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: green;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

ul li:not(:last-child) {
  border-right: 2px solid black;
  padding-right: 5px;
}

li {
  display: inline;
}

/* TABLES */

/* table div  */
.dataTable {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
}

.dataTable table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

.dataTable th {
  padding: 15px;
  border: 1px solid;
  background-color: #1b4332;
  color: white;
  height: 50px;
}

.dataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dataTable tr:hover {
  background-color: #ddd;
}

.dataTable td {
  padding: 15px;
  border: 1px solid;
  text-align: center;
}

/* FORMS */

/* form div  */
.formContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border: 3px solid blue;
}

select {
  display: block;
}

/* BUTTONS */

button {
  background-color: #2d6a4f;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #2d6a4f;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

input[type="submit"]:hover {
  outline: none;
  background-color: #1b4332;
}
